body {
  font-family: 'Arial','Open sans','sans-serif';
}

h1 {
  color: #ccc;
  weight: 300;
  font-size: 40px;
}

figure {
  margin: auto;
}

.content {
  position: relative;
  z-index: 2;
  background: white;
  margin-bottom: 300px;
}

.content article {
  padding: 100px 0 0 0;
  text-align: center;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.bird-box {
  position: relative;
  height: 600px;
  background-image: url(/images/bird-bg.jpg);
  background-size: auto 600px;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
  z-index: 3;
}

.nav {
  text-align: right;
}

.nav ul {
  margin-right: 100px;
}

.nav ul li {
  display: inline-block;
  padding: 70px 40px 0 0;
}

.nav ul li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.nav ul li a:hover {
  color: white;
  text-decoration: underline;
}

.logo {
  height: 110px;
  width: 100%;
  background-image: url(/images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 45%;
  margin-top: -45px;
}

.fore-bird {
  width: 960px;
  height: 733px;
  background-image: url(/images/fore-bird.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 380px;
}

.back-bird {
  width: 960px;
  height: 298px;
  background-image: url(/images/back-bird.png);
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  left: 50%;
  margin-left: -480px;
}

.nav_top {
  position: fixed;
  top: 60px;
  right: 40px;
  text-align: right;
  z-index: 99;
  font-size: 35px;
  visibility: hidden;
  opacity: .5;
}

.nav_top:hover {
  opacity: 1;
  transform: scale(1.2);
  transition: all .3s ease-in-out;
}

.nav_top a {
  color: #E68523;
}

.section-work, .section-work-f {
  overflow-x: hidden;
  background: #e5eaee;
  padding: 50px 0 100px 0;
}

.section-work h3, .section-work h5, .section-work-f h3, .section-work-f h5 {
  color: #E68523;
}

.section-work-f {
  margin-bottom: 0;
}

.work-belt, .work-belt-f {
  width: 200%;
  position: relative;
  left: 0%;
  transition: all 0.5s ease-in-out;
}

.thumb-wrap, .work-wrap, .thumb-wrap-f, .work-wrap-f {
  width: 50%;
  float: left;
}

.clothes-pics, .clothes-pics-f {
  max-width: 740px;
  margin: 0px auto;
  padding-bottom: 100px;
}

.thumb-unit, .thumb-unit-f {
  display: block;
  width: 25%;
  height: 250px;
  float: left;
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.thumb-unit img {
  width: 100%;
  height: 250px;
  transition: all 0.5s ease-in-out;
}

.thumb-unit img:hover {
  transform: scale(1.1);
}

.thumb-unit-f img {
  width: 100%;
  height: 250px;
  transition: all 0.5s ease-in-out;
}

.thumb-unit-f img:hover {
  transform: scale(1.1);
}

.thumb-wrap, .work-wrap, .thumb-wrap-f, .work-wrap-f {
  position: relative;
}

.work-container, .work-container-f {
  max-width: 740px;
  margin: 0px auto;
  display: none;
}

.work-container h4, .work-container-f h4 {
  color: #E68523;
}

.work-return i {
  font-size: 35px;
  color: #E68523;
  position: absolute;
  left: 13%;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.work-return i:hover {
  opacity: 1;
  transform: scale(1.2);
}

.work-return-f i {
  font-size: 35px;
  color: #E68523;
  position: absolute;
  left: 13%;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.work-return-f i:hover {
  opacity: 1;
  transform: scale(1.2);
}

.work-main-div {
  width: 800px;
  position: relative;
  margin: 10px 0 50px 0;
  display: inline-block;
}

.inner-box, .inner-box1, .inner-box2, .inner-box3 {
  position: absolute;
  top: 3%;
  left: 5%;
  width: 222px;
  height: 325px;
  z-index: 2;
}

.inner-box {
  border: 6px solid #D68471;
  border-left: 7px solid #D68471;
  border-right: 7px solid #D68471;
}

.inner-box1 {
  border: 6px solid #7ABFC8;
  border-left: 7px solid #7ABFC8;
  border-right: 7px solid #7ABFC8;
}

.inner-box2 {
  border: 6px solid #DB9E74;
  border-left: 7px solid #DB9E74;
  border-right: 7px solid #DB9E74;
}

.inner-box3 {
  border: 6px solid #C3B8B0;
  border-left: 7px solid #C3B8B0;
  border-right: 7px solid #C3B8B0;
}

.work-sub-div {
  width: 260px;
  height: 360px;
  position: relative;
  background: grey;
  float: left;
  margin: 0 2px 0 2px;
}

.work-sub-div img {
  width: 100%;
  height: 100%;
}

.price, .price1, .price2, .price3 {
  z-index: 2;
  font-size: 22px;
  font-color: black;
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 80px;
}

.price {
  background: #D68471;
}

.price1 {
  background: #7ABFC8;
}

.price2 {
  background: #DB9E74;
}

.price3 {
  background: #C3B8B0;
}

.work-title {
  font-size: 25px;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding-bottom: 0px;
  margin: 0 0 30px 30px;
}

.work-title:before, .work-title:after {
  position: absolute;
  top: 49%;
  width: 50%;
  height: 2px;
  overflow: hidden;
  content: '\a0';
  background-color: #E68523;
}

.work-title:before {
  margin-left: -50%;
  text-align: right;
}

.large-window {
  height: 640px;
  width: 640px;
  background-image: url(/images/model2.jpg);
  background-position: center 0px;
  background-repeat: repeat-y;
  background-attachment: fixed;
  margin: 100px auto;
  border-radius: 50%;
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 10px;
  background: black;
  color: white;
  padding: 2px 8px;
  font-size: 11px;
  transition: all .3s ease-in-out;
  z-index: 9;
}

.window-tint {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-text {
  color: white;
  font-weight: 100;
  font-size: 40px;
}

.promo-text strong {
  display: block;
  font-size: 30px;
}

.promo-text span {
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.6);
}

.promo-text .window-cta {
  font-size: 18px;
  text-decoration: none;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.promo-text .window-cta:hover {
  background: white;
  color: black;
}

.blog-posts {
  margin: 50px auto;
  width: 740px;
}

.blog-posts .post {
  border: 1px solid #e1e1e1;
  padding: 20px 20px 0;
  background: white;
  position: relative;
  border-radius: 5px;
}

.blog-posts .post:hover {
  border: 1.5px solid turquoise;
}

.blog-posts .post-1 {
  transform: translate(100px, 20px);
}

.blog-posts .post-2 {
  z-index: 2;
}

.blog-posts .post-3 {
  transform: translate(-100px, 20px);
}

.blog-posts .post_button:hover {
  background: turquoise;
  color: white;
  border: 0px;
}

footer {
  background: black;
  color: white;
  padding: 40px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer .footer-stuff {
  max-width: 640px;
  margin: 0 auto;
}

footer ul {
  list-style-type: none;
}

footer a {
  color: white;
}

.login_body {
  display: block;
  height: 650px;
  margin: 0;
  padding: 0;
  background-color: turquoise;
  position: relative;
}

.login_box {
  height: 200px;
  width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2D2D2D;
  border-radius: 5px;
}

.login_main {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  z-index: 99;
}

.login_form, .signup_form {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.login_form h1, .signup_form h1 {
  font-family: arial;
  font-size: 25px;
  color: turquoise;
}

.login_form input, .signup_form input {
  height: 40px;
  width: 300px;
  border: 0;
  border-bottom: 1px solid black;
  outline: none;
  margin: 5px;
}

.login_form button, .signup_form button {
  height: 35px;
  width: 130px;
  background-color: turquoise;
  font-family: monospace;
  font-size: 16px;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 175px;
}

.signup_form {
  top: 45%;
  left: 75%;
  visibility: hidden;
}

#login_btn, #signup_btn {
  height: 35px;
  width: 120px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
  position: absolute;
  left: 77%;
  top: 65%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

#login_btn:hover, #signup_btn:hover {
  background-color: white;
  color: #2D2D2D;
  cursor: pointer;
}

#signup_btn {
  left: 20%;
}

.login_msg, .signup_msg {
  font-family: arial;
  font-size: 25px;
  color: white;
  position: absolute;
  top: 35%;
  left: 77%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.signup_msg {
  left: 20%;
}
